* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 1rem;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

li {
    margin-bottom: 0.5rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.container .inner .step {
    text-align: center;
    margin: 0 auto;
}

.container .inner .step.small {
    max-width: 600px;
}

.container label {
    display: block;
    margin-bottom: 0.5rem;
}

.container .inner {
    width: 100%;
    padding: 2rem;
}

.container .inner .step:not(.active) {
    display: none;
}

.container .inner .align-left {
    text-align: left;
}

h2 {
    margin-bottom: 0.4rem;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #0083e3;
}

ul.link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 25rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button-container button {
    cursor: pointer;
    appearance: none;
    border: 1px solid #ccc;
    background: #eee;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
}

body.print .step > *,
body.print .step > * {
    display: none;
}

body.print .inner,
body.print .inner {
    padding: 0;
}

@media print {
    @page {
        size: auto;   /* auto is the initial value */
        margin: 0.5cm 1cm;
    }

    h2 {
        margin: 0;
        padding-top: 0.3cm;
    }
}